
<div class="col-12">
  <div class="d-flex mx-2 my-4">
    <a type="button" class="btn btn-primary" (click)="onAddData()"><i class="fas fa-plus pr-2 py-auto"></i>Add Data</a>
  </div>
  <div *ngIf="(passwordDatas | async) as datas">
    <div class="d-flex justify-content-end col-12 pr-5">

      <div ngbDropdown class="d-inline-block mx-4">
        <a type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{pageSize ? pageSize : 'Page Size'}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a type="button" class="d-block px-2" ngbDropdownItem (click)="setPageSize(10)">10</a>
          <a type="button" class="d-block px-2" ngbDropdownItem (click)="setPageSize(20)">20</a>
          <a type="button" class="d-block px-2" ngbDropdownItem (click)="setPageSize(30)">30</a>
        </div>
      </div>

      <ngb-pagination [collectionSize]="totalDatas" [(page)]="currentPage" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="onPageChange()"></ngb-pagination>
    </div>
    <div class="row">
      <ng-container *ngFor="let passwordData of datas; trackBy: trackByFn"> <!-- ToDo: trackBy works only with Array NOT with Observable -->
        <div class="card mx-2 my-2">
          <div class="card-body">
            <h5 class="card-title text-center">{{passwordData.accountname}}</h5>
            <p class="card-text">username: {{passwordData.username}}</p>
            <p class="card-text">password: xxxxx</p>
            <div class="d-flex justify-content-center">
              <a type="button" class="btn btn-default" (click)="onDetail(passwordData)">Detail</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="!(passwordDatas | async)">
    <div class="d-flex justify-content-center align-items-center fa-5x" style="height: 55vh; color: #F3E5F5">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
  </ng-container>
</div>
