
<div class="col-12">
  <div class="row mx-2 my-4">
    <a type="button" class="btn btn-primary" (click)="onAddData()">Add Data</a>
  </div>
  <div class="row" *ngIf="(passwordDatas | async) as datas">
    <ng-container *ngFor="let passwordData of datas; trackBy: trackByFn"> <!-- ToDo: trackBy works only with Array NOT with Observable -->
      <div class="card mx-4 my-2">
        <div class="card-body">
          <h5 class="card-title text-center">{{passwordData.accountname}}</h5>
          <p class="card-text">username: {{passwordData.username}}</p>
          <p class="card-text">password: xxxxx</p>
          <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-default" (click)="onDetail(passwordData)">Detail</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!(passwordDatas | async)">
    <div class="d-flex justify-content-center align-items-center fa-5x" style="height: 55vh; color: #F3E5F5">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
  </ng-container>
</div>
