
<div class="col-12">
  <div class="row mx-2 my-4">
    <a type="button" class="btn btn-primary" (click)="onAddData()">Add Data</a>
  </div>
  <div class="row">
    <ng-container *ngFor="let passwordData of passwordDatas$ | async">
      <div class="card mx-4 my-2">
        <div class="card-body">
          <h5 class="card-title text-center">{{passwordData.accountname}}</h5>
          <p class="card-text">username: {{passwordData.username}}</p>
          <p class="card-text">password: xxxxx</p>
          <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-default" (click)="onDetail(passwordData)">Detail</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
