<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container *ngIf="!isEdit">
  <div class="modal-body">
    <p>Hello, {{data}}!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onEdit()">Edit</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Delete</button>
  </div>
</ng-container>

<ng-container *ngIf="isEdit">
  <div class="d-flex flex-column py-5">
    <div class="d-flex justify-content-center">
      <form>
        <div class="form-group">
          <div class="row">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="password">Password</label>
            <input id="password" type="text" class="form-control">
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <a type="button" class="btn btn-default float-right m-2" (click)="activeModal.close('Close click')">Cancel</a>
          <a type="button" class="btn btn-primary float-right m-2" >Update</a>
        </div>

      </form>
    </div>

  </div>
</ng-container>

