<div class="d-flex flex-column py-5">
  <ng-container *ngIf="dashboardMessage">
    <div class="d-flex justify-content-center">
      <ngb-alert [type]="dashboardMessage.type" [dismissible]="false">
        <strong>{{dashboardMessage.messageStatus}}</strong> {{dashboardMessage.messageText}}
      </ngb-alert>
    </div>
  </ng-container>


  <div class="d-flex justify-content-center">
    <form [formGroup]="dashboardForm">
      <div class="form-group">
        <div class="row">
          <label for="email">Email</label>
          <input id="email" type="text" class="form-control" formControlName="user_email">
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="password">Password</label>
          <input id="password" type="text" class="form-control" formControlName="user_password">
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-default float-right m-2" (click)="onSignIn()">SignIn</a>
        <a type="button" class="btn btn-primary float-right m-2" (click)="onRegister()">Register</a>
      </div>

    </form>
  </div>

</div>

