body {
  font-family: 'Source Code Pro', monospace;
}


a.btn {
  &.btn-default {
    background-color: transparent;
    color: #AA00FF;
    border: 2px solid #AA00FF;

    &:hover {
      background-color: transparent;
      color: #AA00FF;
    }
  }

  &.btn-primary, &.btn-outline-primary {
    background-color: #6A1B9A;
    color: #FFFFFF;
    border-color: transparent;

    &:active {
      background-color: #6A1B9A;
    }

    &:hover {
      background-color: #6A1B9A;
      color: #FFFFFF;
    }
  }

  &.btn-danger {
    color: #FFFFFF;
    border-color: transparent;

    &:hover {
      border: 1px solid #dc3545;
      background-color: transparent;
      color: #dc3545;
    }
  }
}

.page-item.active .page-link {
  background-color: #6A1B9A;
  border-color: #6A1B9A;
  color: #FFFFFF;
}

.page-item {
  a {
    color: #6A1B9A;
  }
}
